
.footer{
    background-color: #EE4367; 
    height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo{
        position:relative;
        width: 92px;
        height: 42px;
        border: solid 2px #ffffff;
        font-family: GillSans;

        span {
            position: absolute;
            bottom: -5px;
            color: #ffffff;
        }
    }
    .infoHolder{
        margin-top: 48px;
        margin-bottom: 46px;
            .info{
                font-family: GillSans;
                font-size: 15px;
                color: #ffffff;
            }
    }

    .emailBar{
        display: flex;

        input{
            height: 60px;
            width: 529px;
            background-color: #F56B88;
            color: #ffffff;
            border: none;
            font-family: GillSans;
            font-size: 16px;
            padding-left: 23px;
        }

        ::placeholder{
            color: #ffffff;
            opacity: 50%;
        }
        button{
            height: 60px;
            width: 167px;
            border: none;
            color: #EE4367;
            font-family: GillSans;
            font-size: 16px;
        }
    }

    .logos{
        padding-top: 30px;
        img{
            height:31.22px;
        }
    }

    .end{
        color: #ffffff;
        font-family: GillSans;
        font-size: 12px;
        padding-top: 46.7px;
    }

}


@media only all and (max-width: 727px) {
    .footer{
        .emailBar{
            input{
                width: 300px;
            }
        }
    }
}